.about {
    background-color: #ffffff;
    padding-top: 100px;
    width: 100%;
}
.about__layout {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 978px) {
    .about__left-image {
        max-width: 100%;
    }
    .about .layout {
        flex-direction: column;
    }
}
.about__left-image {
    min-width: 100%;
}
.about-right {
    margin-right: 52px;
}
.about-right__caption {
    color: #636363;
    font-size: 20px;
    font-weight: 400;
    line-height: 37.3px;
}
.about-right__title {
    color: #222222;
    font-size: 34px;
    font-weight: 400;
    line-height: 37.3px;
    padding-bottom: 30px;
}
.about-right__title_bold {
    color: #222222;
    font-weight: 700;
    letter-spacing: -0.68px;
}
.about-right__title_bold:before {
    background-color: #fcac45;
    content: ' ';
    display: block;
    height: 4px;
    position: absolute;
    top: 80px;
    width: 98px;
}
.about-right__description {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: 25px;
    margin-bottom: 46px;
    width: 404px;
}
.about-right__bullet-border {
    display: inline-block;
    border: solid #5a5a5a 2px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
}
.about-right__bullet {
    background-color: #5a5a5a;
    border-radius: 50%;
    height: 6px;
    width: 6px;
}
.about-right__key-points {
    color: #5a5a5a;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.16px;
    margin-bottom: 50px;
}
.about-right__key-points_bold {
    color: #5a5a5a;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.18px;
}
.about-right__browse-button {
    border: solid #7f7f7f 1px;
    border-radius: 3px;
    color: #616161;
    display: block;
    font-size: 12px;
    font-weight: 600;
    height: 48px;
    letter-spacing: 0.3px;
    padding-top: 14px;
    padding-left: 46px;
    text-transform: uppercase;
    width: 194px;
}
.about-right__browse-button-icon {
    background-image: url("images/icon-case.png");
    height: 12px;
    margin-top: 50px;
    width: 14px;
}
/*.about-right__browse-button:before {

    bottom: 228px;
    content: ' ';
    display: block;

    position: absolute;
    right: 414px;
	top: 371px;
    width: 14px;
}*/