.about {
    padding-top: 6.25rem;
    width: 100%;
}
.about__layout {
    display: flex;
}
.about__left-image {
    margin-left: 2.25rem;
    min-width: 100%;
}
@media only screen and (max-width: 978px) {
    .about .layout {
        flex-direction: column;
    }
}
.about-right__heading {
    color: #636363;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.865em;
    text-transform: uppercase;
}
.about-right__sub-heading {
    color: #222222;
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.097em;
    padding-bottom: 0.882em;
    text-transform: uppercase;
}
.about-right_text_accent {
    font-weight: 700;
    letter-spacing: -0.02em;
}
.about-right_text_accent:before {
    background-color: #fcac45;
    content: ' ';
    display: block;
    height: 0.25rem;
    position: absolute;
    top: 5rem;
    width: 6.125rem;
}
.about-right__description {
    color: #6c6c6c;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.389em;
    margin-bottom: 2.556em;
    width: 22.444em;
}
.about-right__bullet-border {
    display: inline-block;
    border: solid #5a5a5a 0.125rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    padding: 0.125rem;
}
.about-right__bullet {
    background-color: #5a5a5a;
    border-radius: 50%;
    height: 0.375rem;
    width: 0.375rem;
}
.about-right__key-points_text_accent {
    color: #5a5a5a;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: -0.01em;
}
.about-right__key-points {
    color: #5a5a5a;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.563em;
    letter-spacing: -0.01em;
}
.about-right__browse-button {
    background-image: url("../images/icon-case.png");
    background-position: 1.75em 1.417em;
    background-repeat: no-repeat;
    border: solid #7f7f7f 1px;
    border-radius: 3px;
    color: #616161;
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    height: 4em;
    letter-spacing: 0.025em;
    margin-bottom: 2.333em;
    margin-top: 4.167em;
    padding-top: 1.167em;
    padding-left: 3.833em;
    text-transform: uppercase;
    width: 16.167em;
}