@import "../css/slider-bullets.css";
.clients {
    background-color: #050505;
    color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    text-align: center;
    text-transform: uppercase;
}
.clients__heading {
    font-size: 2.75rem;
    font-weight: 400;
    padding-bottom: 0.682em;
}
.clients__heading_text_accent {
    font-weight: 600;
}
.clients__logos {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    padding-bottom: 6.25rem;
    flex-wrap: wrap;
}
.clients__logos-img {
    margin-right: 1.875rem;
    padding-top: 1.25rem;
}
.clients__logos img:last-child {
    padding-top: 1.25rem;
}
.clients__logos-lancome {
    padding-top: 0.75rem;
}
@media only screen and (max-width: 500px) {
    .clients__logos {
        flex-direction: column;
        align-items: center;
    }

    .clients__logos-img {
        padding-right: 0;
    }
}