*{
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 100%;
}
@media (max-width: 900px) {
    html { font-size: 87.5%; }
}
@media (max-width: 400px) {
    html { font-size: 75%; }
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    border-style:none;
    max-width:100%;
}
ul, nav {
    list-style: none;
}
#wrapper {
    display: block;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.layout {
    height: auto;
    margin: 0 auto;
    max-width: 71.375rem;
    position: relative;
    width: 76vw;
}
#main {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.deco-stripe {
    height: 0.188rem;
    margin: 0 auto;
}
.deco-stripe_style_wide {
    background-color: #fcac45;
    margin-bottom: 0.625rem;
    width: 6rem;
}
.deco-stripe_style_short {
    background-color: #b37b33;
    width: 4.125rem;
}