@import "../css/slider-bullets.css";
.team {
    background-color: #050505;
    color: #ffffff;
    text-align: center;
}
.team__heading {
    font-size: 2.75rem;
    font-weight: 400;
    padding-top: 2.273em;
    text-transform: uppercase;
    margin-bottom: 0.682em;
}
.team__heading_text_accent {
    font-weight: 600;
}
.team__cards {
    display: flex;
    font-size: 0.875rem;
    font-weight: 400;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 4.625rem;
}
.team__photo {
    background-color: #d7d7d7;
    border-radius: 50%;
    height: 7.875rem;
    margin: 5.875rem auto 1.375rem;
    width: 7.875rem;
}
.team__name {
    font-size: 1.25rem;
    font-weight: 700;
}
.team__position {
    line-height: 1.714em;
    margin-bottom: 2.5em;
}
.team__bio {
    line-height: 1.714em;
}
.team .team__cards li:last-child p:last-child {
    margin-right: 0;
}
.team__slider {
    padding-bottom: 5.25rem;
}
.team__card {
    width: 14.375rem;
}
@media only screen and (max-width: 1024px) {
    .team__cards {
        align-items: center;
        flex-direction: column;
    }
}
