.work {
    font-weight: 400;
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
    text-align: center;
}
.work__heading {
    font-size: 2.75rem;
    padding-bottom: 0.682em;
    text-transform: uppercase;
}
.work__heading_text_accent {
    font-weight: 600;
}
.work__intro {
    color: #6c6c6c;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.5em;
    margin-bottom: 7.25em;
    margin-top: 2.625em;
}
.work__filter {
    display: flex;
    font-size: 1.125rem;
    justify-content: space-between;
}
.work__filter-title {
    font-weight: :;
}
.work__filter-items {
    color: #6c6c6c;
    font-size: 1.125rem;
    line-height: 1.333em;
}
.work__tiles-title {
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.2em;
}
.work__tiles-description {
    color: #b2b2b2;
    font-size: 0.875rem;
}