@import "./css/global.css";
@import "./css/header.css";

.font-white {
    color: #ffffff;
}
.font-black {
    color: #222222;
}
.font-bold {
    font-weight: 600;
}
.bg-black {
    background-color: #050505;
}
.bg-white {
    background-color: #ffffff;
}






.start .layout {
    height: 100vh;
    padding-top: 202px;
}

#main {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
h1, h2, h3, .header__logo, .work__filter, .testimonials__quote, .contact-form__send-button, .footer__copyright {
    text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
	/*set margin left for .header__menu*/
}
@media screen and (max-width: 1105px) {
	/*set margin left for .header__menu*/
}
@media screen and (max-width: 978px) {
	/*responsive menu start*/
	.header__menu-item {
		display: none;
	}
	.header__menu-icon {
		display: block;
		color: #ffffff;
		font-size: 25px;
		margin-top: -4px;
	}
	.header__menu.responsive {
		position: relative;
	}
	.header__menu.responsive a.header__menu-icon {
		position: absolute;
		top: 0;
		right: 0;
	}
	.header__menu.responsive .header__menu-item {
		display: block;
		float: none;
		text-align: left;
	}
	/*responsive menu end*/
	.start {
		padding: 50px 0 50px 0;
	}
	.start__welcome {
		font-size: 25px;
	}
	.start__intro {
		font-size: 14px;
	}
	.about__left-image {
		max-width: 100%;
	}
	.about .layout {
		flex-direction: column;
	}
}
.start {
    background-color: #0a0a0a;
    height: 100vh;
    padding-bottom: 90px;
    text-align: center;
}
.start__welcome {
    color: #999999;
    font-size: 44px;
    font-weight: 300;
    letter-spacing: -2.2px;
}
.start__spirit {
    color: #fcac45;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: -2.2px;
}
.start__intro {
    color: #c3c3c3;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.start__intro_bold {
    color: #c3c3c3;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 24px;
}
.start__arrow {
    background-image: url('images/icon-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #bebebe;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 96px;
}
.about {
    padding-top: 100px;
    width: 100%;
}
.about .layout {
	display: flex;
	justify-content: space-between;
}
.about__left-image {
	min-width: 100%;
}
.about-right {
    margin-right: 52px;
}
.about-right__caption {
    color: #636363;
    font-size: 20px;
    font-weight: 400;
    line-height: 37.3px;
}
.about-right__title {
    color: #222222;
    font-size: 34px;
    font-weight: 400;
    line-height: 37.3px;
    padding-bottom: 30px;
}
.about-right__title_bold {
    color: #222222;
    font-weight: 700;
    letter-spacing: -0.68px;
}
.about-right__title_bold:before {
    background-color: #fcac45;
    content: ' ';
    display: block;
    height: 4px;
    position: absolute;
    top: 80px;
    width: 98px;
}
.about-right__description {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: 25px;
    margin-bottom: 46px;
    width: 404px;
}
.about-right__bullet-border {
    display: inline-block;
    border: solid #5a5a5a 2px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
}
.about-right__bullet {
    background-color: #5a5a5a;
    border-radius: 50%;
    height: 6px;
    width: 6px;
}
.about-right__key-points {
    color: #5a5a5a;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.16px;
    margin-bottom: 50px;
}
.about-right__key-points_bold {
    color: #5a5a5a;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.18px;
}
.about-right__browse-button {
	border: solid #7f7f7f 1px;
    border-radius: 3px;
    color: #616161;
    display: block;
    font-size: 12px;
    font-weight: 600;
    height: 48px;
    letter-spacing: 0.3px;
    padding-top: 14px;
    padding-left: 46px;
    text-transform: uppercase;
    width: 194px;
}
.about-right__browse-button-icon {
	background-image: url("images/icon-case.png");
	height: 12px;
	margin-top: 50px;
	width: 14px;
}
/*.about-right__browse-button:before {
    
    bottom: 228px;
    content: ' ';
    display: block;
    
    position: absolute;
    right: 414px;
	top: 371px;
    width: 14px;
}*/
.team {
    height: 726px;
}
.h2-font-style {
    font-size: 44px;
    font-weight: 400;
}
.deco-line_wide{
	background-color: #fcac45;
	height: 3px;
	width: 96px;
}
.deco-line_short {
	background-color: #fcac45;
	height: 3px;
	width: 66px;
}
.team__name {
	font-size: 20px;
	font-weight: 700;
}
.team__title, .team__description {
	line-height: 24px;
}
.team__title, .team__description, .services__description {
	font-size: 14px;
	font-weight: 400;
}
.slider {
	display: inline-block;
}
.slider__bullet {
	background-color: #ffffff;
	height: 8px;
	width: 8px;
}
.services {
    height: 738px;
}
.services__intro, .work__intro, .contact-us__intro {
	color: #6c6c6c;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
}
.services__icon-placeholder {
	background-position: center;
	background-repeat: no-repeat;
	border: solid #fcac45 4px;
	border-radius: 50%;
	height: 126px;
	width: 126px;
}
.web-design-icon {
	background-image: url("images/icon-monitor.png");
}
.mobile-apps-icon {
	background-image: url("images/icon-phone.png");
}
.photography-icon {
	background-image: url("images/icon-camera.png");
}
.marketing-icon {
	background-image: url("images/icon-speaker.png");
}
.services__name {
	font-size: 25px;
	font-weight: 500;
}
.services__description {
	line-height: 21px;
}
.clients {
    height: 516px;
}
.clients__logo {
	background-image: url("images/brands-logo.png");
	background-repeat: no-repeat;
	height: 29px;
	width: 945px;
}
.work {
    height: 1336px;
}
.work__filter {
	font-size: 18px;
	font-weight: 400;
}
.work__filter-items {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.work__tiles-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}
.work__tiles-description {
	color: #b2b2b2;
	font-size: 14px
}
.testimonials {
    height: 564px;
}
.testimonials__quote {
	color: #e7e7e7;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.testimonials__name {
	color: #b2b2b2;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}
.contact-us {
    height: 834px;
}
.contact-form__label {
	color: #636363;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.contact-form__label-asterisk {
	color: #db0000;
}
.contact-form__input, .contact-form__message {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.4);
}
.contact-form__send-button {
	background-color: #fcac45;
	color: #ffffff;
	height: 40px;
	width: 164px;
	font-size: 16px;
	font-weight: 400;
}
.footer {
    background-color: #222222;
}
.footer .layout {
	display: flex;
	height: 92px;
	justify-content: space-between;
}
.footer__copyright {
	align-self: center;
	color: #b2b2b2;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.footer__copyright-spirit {
	font-weight: 700;
}
.footer__social-icons {
	align-self: center;
}
.footer__social-icons_inline {
	display: inline;
}
.footer__social-icons_style {
	border: 2px solid #b2b2b2;
	border-radius: 50%;
	color: #b2b2b2;
	display: inline-block;
	height: 32px;
	padding: 2px;
	margin-left: 12px;
	text-align: center;
	width: 32px;
}
